.one-five-nine-photography-video {
	overflow: hidden;
	position: relative;
	height: 400px;
	a {
		z-index: 1001;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -45px;
		margin-left: -45px;
		width: 90px;
		height: 90px;
		display: table;
		text-align: center;
		background: $brand-white;
		
		-webkit-box-shadow: 0px 14px 30px -15px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px 14px 30px -15px rgba(0,0,0,0.75);
		-ms-box-shadow: 0px 14px 30px -15px rgba(0,0,0,0.75);
		-o-box-shadow: 0px 14px 30px -15px rgba(0,0,0,0.75);
		box-shadow: 0px 14px 30px -15px rgba(0,0,0,0.75);
		@include border-radius(50%);
		
		i {
			text-align: center;
			display: table-cell;
			vertical-align: middle;
			font-size: 40px;
			color: $brand-primary;

		}
	}
	.overlay {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(0, 0, 0, .3);
		@include transition(.5s);
	}
	&:hover {
		.overlay {
			background: rgba(0, 0, 0, .7);		
		}
		a {
			-webkit-transform: scale(1.1);
			-moz-transform: scale(1.1);
			-ms-transform: scale(1.1);
			-o-transform: scale(1.1);
			transform: scale(1.1);
			
		}
	}
}

.one-five-nine-photography-hero{
	background-size: cover;
	position: relative;
	background-repeat: no-repeat;
	z-index: 0;
	@media screen and (max-width: $screen-sm) {
		height: inherit;
		padding: 3em 0;
	}
	.overlay{
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		opacity: 0.5;
		background: #000;
		z-index: -1;
	}
	.display-t{
		display: table;
		height: 100vh;
		width: 100%;
		position: relative;
		z-index: 2;
		@media screen and (max-width :$screen-sm) {
			height: 600px;
		}
	}
	.display-tc{
		display: table-cell;
		vertical-align: middle;
		.holder{
			color: $brand-white;
			font-family: $font-primary;
			font-size: 18px;
			text-transform: uppercase;
			letter-spacing: 10px;
			span{
				position: relative;
				&:before, &:after{
					position: absolute;
					top: 49%;
					width: 100px;
					height: 2px;
					background: $brand-white;
					content: '';
				}
				&:before{
					left: -110px;
				}
				&:after{
					right: -110px;
				}
			}
			@media screen and (max-width: $screen-sm) {
				letter-spacing: 2px;
				span{
					position: relative;
					&:before, &:after{
						width: 50px;
						height: 2px;
					}
					&:before{
						left: -60px;
					}
					&:after{
						right: -60px;
					}
				}
			}
		}
		h2{
			color: $brand-white;
			font-size: 80px;
			margin-bottom: 20px;
			text-transform: uppercase;
			strong {
				font-weight: 700;
			}
			@media screen and (max-width: $screen-sm) {
				font-size: 60px;
			}
		}
		p{
			color: $brand-white;
			font-weight: 400;
			font-size: 20px;
			letter-spacing: 10px;
		}
		p.breadcrumbs{
			letter-spacing: 5px;
		}
		.btn-custom{
			letter-spacing: 5px;
			color: $brand-black !important;
		}
    }
    .one-five-nine-photography-social-hero {
        li {
            display: inline;
            list-style: none;
            &:first-of-type {
                margin-left: -40px;
            }
            a {
				color: #fff;
                font-size: 50px;
                &:hover {
                    color: $brand-primary;
                }
            }
        }
    }
}