.one-five-nine-photography-nav {
	margin: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;	
	z-index: 9;
	margin: 0 auto;
	@media screen and (max-width: $screen-sm ) {
		margin: 0;
	}
	.top-menu{
		padding: 20px 30px;
		@media screen and (max-width: $screen-sm ) {
			padding: 28px 1em;
		}

	}
	#one-five-nine-photography-logo {
		font-size: 24px;
		margin: 0;
		padding: 0;
		text-transform: uppercase;
		font-weight: 700;
		a{
			position: relative;
			color: $brand-white;
			i{
				color: $brand-white;
				display: block;
				font-size: 60px;
				font-weight: normal;
				margin-bottom: 10px;
			}
		}
	}
	.menu-1 {
		margin-top: 3em;
		@media screen and (max-width: $screen-sm ) {
			display: none;
		}
	}
	ul {
		padding: 0;
		margin: 0;
		li {
			padding: 8px 0;
			margin: 0;
			list-style: none;
			display: inline;
			font-weight: 400;
			text-transform: uppercase;
			a {
				position: relative;
				font-size: 14px;
				padding: 20px 12px;
				color: rgba(255,255,255,.9);
				@include transition(.5s);
				&:hover{
					color: $brand-primary;
				}
			}
			&.has-dropdown {
				position: relative;
				.dropdown {
					width: 140px;
					-webkit-box-shadow: 0px 14px 33px -9px rgba(0,0,0,0.75);
					-moz-box-shadow: 0px 14px 33px -9px rgba(0,0,0,0.75);
					box-shadow: 0px 14px 33px -9px rgba(0,0,0,0.75);
					z-index: 1002;
					visibility: hidden;
					opacity: 0;
					position: absolute;
					top: 40px;
					left: 0;
					text-align: left;
					background: $brand-black;
					padding: 20px;
					@include border-radius(4px);
					@include transition(.0s);
					&:before {
						bottom: 100%;
						left: 40px;
						border: solid transparent;
						content: " ";
						height: 0;
						width: 0;
						position: absolute;
						pointer-events: none;
						border-bottom-color: #000;
						border-width: 8px;
						margin-left: -8px;
					}
					
					li {
						display: block;
						margin-bottom: 0px;
						&:last-child {
							margin-bottom: 0;
						}
						a {
							padding: 2px 0;
							display: block;
							color: lighten($brand-black, 60%);
							line-height: 1.2;
							text-transform: none;
							font-size: 13px;
							letter-spacing: 0;
							&:hover {
								color: $brand-white;
							}
						}
					}
				}
				&:hover, &:focus {
					a {
						color: $brand-primary;
					}
				}
			}
			&.btn-cta {
				a {
					color: $brand-white;
					background: rgba($brand-primary,1);
					padding: 10px 15px;
					@include border-radius(100px);
					@include transition(.3s);
					&:hover {
						-webkit-box-shadow: 0px 14px 20px -9px rgba(0,0,0,0.75);
						-moz-box-shadow: 0px 14px 20px -9px rgba(0,0,0,0.75);
						-ms-box-shadow: 0px 14px 20px -9px rgba(0,0,0,0.75);
						-o-box-shadow: 0px 14px 20px -9px rgba(0,0,0,0.75);
						box-shadow: 0px 14px 20px -9px rgba(0,0,0,0.75);
					}
				}
			}
			&.active {
				> a {
					color: $brand-primary!important;
					position: relative;

					&:after{
						opacity: 1;
						-webkit-transform: translate3d(0, 0, 0);
						transform: translate3d(0, 0, 0);
					}
				}
			}
		}
	}
}