<footer id="one-five-nine-photography-footer" style="background-image: url('{{site.url}}/images/ben-wales.png');">
			<div class="container">
				<div class="row row-pb-md">
					<div class="col-md-3 one-five-nine-photography-widget">
						<h4>About 159 Photography</h4>
						<p>Fun, crazy, professional photography for all occasions in the West Yorkshire area.</p>
						<p>
							<ul class="one-five-nine-photography-social-icons">
								<li><a href="{{ site.twitter_username }}" target="_blank" 
									title="{{site.follow-tw-title}}">
									<i class="fab fa-twitter-square"></i></a></li>
								<li><a href="{{ site.facebook_username }}" target="_blank"
									title="{{ site.follow-fb-title }}">
									<i class="fab fa-facebook-square"></i></a></li>
								<li><a href="{{ site.instagram_username }}" target="_blank"
									title="{{ site.follow-in-title }}">
									<i class="fab fa-instagram"></i></a></li>
								<li><a href="mailto:{{ site.email }}" target="_blank"
									title="{{ site.email-title }}">
									<i class="fab fa-email"></i></a></li>
							</ul>
						</p>
					</div>
					<div class="col-md-3 one-five-nine-photography-widget">
						<h4>Information</h4>
						<p>
							<ul class="one-five-nine-photography-footer-links">
								<li><a href="#"><i class="icon-check"></i> Home</a></li>
								<li><a href="#"><i class="icon-check"></i> Gallery</a></li>
								<li><a href="#"><i class="icon-check"></i> About</a></li>
								<li><a href="#"><i class="icon-check"></i> Blog</a></li>
								<li><a href="#"><i class="icon-check"></i> Contact</a></li>
								<li><a href="#"><i class="icon-check"></i> Privacy</a></li>
							</ul>
						</p>
					</div>

					<div class="col-md-3 one-five-nine-photography-widget">
						<h4>Recent Blog</h4>
						<div class="f-blog">
							<a href="blog.html" class="blog-img" style="background-image: url({{site.url}}images/blog-1.jpg);">
							</a>
							<div class="desc">
								<h2><a href="blog.html">Photoshoot Technique</a></h2>
								<p class="admin"><span>30 March 2018</span></p>
							</div>
						</div>
						<div class="f-blog">
							<a href="blog.html" class="blog-img" style="background-image: url({{site.url}}images/blog-2.jpg);">
							</a>
							<div class="desc">
								<h2><a href="blog.html">Camera Lens Shoot</a></h2>
								<p class="admin"><span>30 March 2018</span></p>
							</div>
						</div>
						<div class="f-blog">
							<a href="blog.html" class="blog-img" style="background-image: url({{site.url}}images/blog-3.jpg);">
							</a>
							<div class="desc">
								<h2><a href="blog.html">Imahe the biggest photography studio</a></h2>
								<p class="admin"><span>30 March 2018</span></p>
							</div>
						</div>
					</div>

					<div class="col-md-3 one-five-nine-photography-widget">
						<h4>Contact Info</h4>
						<ul class="one-five-nine-photography-footer-links">
							<li>159 photography<br />Hare Park Lane<br />Huddersfield<br />West Yorkshire</li>
							<li><a href="tel://{{site.mobile}}" title="{{site.mobile-title}}"><i class="icon-phone"></i> {{site.mobile }}</a></li>
							<li><a href="mailto:{{site.email}}" title="{{ site.email-title }}"><i class="icon-envelope"></i> email us</a></li>
							<li><a href="{{ site.url }}" title="{{ site.url-title }}"><i class="icon-location4"></i> 159photography.com</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="copy">
				<div class="container">
					<div class="row">
						<div class="col-md-12 text-center">
							<p>
								<small class="block">
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | 159 Photography </small><br> 
							</p>
						</div>
					</div>
				</div>
			</div>
		</footer>
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up2"></i></a>
	</div>