<!-- jQuery -->
	<script src="{{site.url}}/js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="{{site.url}}/js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="{{site.url}}/js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="{{site.url}}/js/jquery.waypoints.min.js"></script>
	<!-- Stellar Parallax -->
	<script src="{{site.url}}/js/jquery.stellar.min.js"></script>
	<!-- YTPlayer -->
	<script src="{{site.url}}/js/jquery.mb.YTPlayer.min.js"></script>
	<!-- Owl carousel -->
	<script src="{{site.url}}/js/owl.carousel.min.js"></script>
	<!-- Magnific Popup -->
	<script src="{{site.url}}/js/jquery.magnific-popup.min.js"></script>
	<script src="{{site.url}}/js/magnific-popup-options.js"></script>
	<!-- Main -->
	<!-- Parallax -->
	<script src="{{site.url}}/js/parallax.min.js"></script>

	<!-- Material Photo Gallery  -->
	<script src="{{site.url}}/js/material-photo-gallery.min.js"></script>

	<script src="{{site.url}}/js/main.js"></script>
	<script>
		$(document).ready(function(){
			$('.parallax-window').parallax({
				'src' : '{{page.hero-slider-image-0}}'
			});
		});
	</script>
	<script>
			$(document).ready(function(){
				currentImage = -1;
				
				var imgSlider = [
				'{{page.hero-slider-image-1}}', 
				'{{page.hero-slider-image-2}}', 
				'{{page.hero-slider-image-3}}'
				];
				
				setInterval(function(){
					currentImage++;
					if (currentImage > imgSlider.length -1)
						currentImage = 0;
					$('.parallax-slider').animate({opacity: 0.}, function(){
						$('.parallax-slider').attr('src', imgSlider[currentImage]);
						$('.parallax-slider').animate({opacity: 1});	
					});
				}, 5000);
			});
		</script>
	</body>
</html>