<!-- jQuery -->
	<script src="js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="js/jquery.waypoints.min.js"></script>
	<!-- Stellar Parallax -->
	<script src="js/jquery.stellar.min.js"></script>
	<!-- YTPlayer -->
	<script src="js/jquery.mb.YTPlayer.min.js"></script>
	<!-- Owl carousel -->
	<script src="js/owl.carousel.min.js"></script>
	<!-- Magnific Popup -->
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/magnific-popup-options.js"></script>
	<!-- Main -->
	<!-- Parallax -->
	<script src="js/parallax.min.js"></script>

	<script src="js/main.js"></script>
	<script>
		$(document).ready(function(){
			$('.parallax-window').parallax({
				'imageSrc': '{{page.hero-slider-image-0}}',
				'iosFix' : true,
				'androidFix' : true
			});
		});
	</script>
	<script>
			$(document).ready(function(){
				currentImage = -1;
				
				var imgSlider = [
				'{{page.hero-slider-image-1}}', 
				'{{page.hero-slider-image-2}}', 
				'{{page.hero-slider-image-3}}'
				];
				
				setInterval(function(){
					currentImage++;
					if (currentImage > imgSlider.length -1)
						currentImage = 0;
					$('.parallax-window').animate({opacity: 0.}, function(){
						$('.parallax-window').css('background-image', 'url(' + imgSlider[currentImage] + ')');
						$('.parallax-window').animate({opacity: 1});	
					});
				}, 5000);
			});
		</script>
	</body>
</html>