<div class="one-five-nine-photography-about-flex">
	<div class="container">
		<div class="row">
			<div class="col-md-12 about-title">
				<h2>{{ page.about-title }}</h2>
			</div>
		</div>
	</div>
		<div class="col-half about-flex-img animate-box" style="background-image: url(images/about-159.jpg);"></div>
			<div class="col-half">
				<div class="row">
					<div class="col-md-12 col-md-pull-2 animate-box">
						<div class="about-desc">
							<h2>We Are 159 Photography</h2>
							<p>We are a small dedicated photography company specialising in event and occasional photography in the West Yorkshire area.</p>
						</div>
					</div>
				</div>
			</div>
		</div>