<section id="home" class="video-hero" style="height: 800px; background-image: url(images/1.jpg);  background-size:cover; background-position: center center;background-attachment:fixed;" data-section="home">
		<div class="overlay"></div>
			<div class="display-t text-center">
				<div class="display-tc">
					<div class="container">
						<div class="col-md-10 col-md-offset-1">
							<div class="animate-box">
								<h1 class="holder"><span>159 Photography</span></h1>
								<h2>Professional Photography for your Wedding, Event, Birthday, Special Occasion</h2>
								<p><a href="gallery.html" class="btn btn-primary btn-custom">View Gallery</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>