<div id="one-five-nine-photography-services">
			<div class="container">
				<div class="row">
					<div class="col-md-12 services-title">
						<h2>{{page.service-title}}</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 text-center animate-box">
						<div class="services">
							<span class="icon">
								<i class="fas {{page.service-box-1-fa}}"></i>	
							</span>
							<div class="desc">
								<h3>{{ page.service-box-1-header }}</h3>
								<p>{{ page.service-box-1-content }}</p>
							</div>
						</div>
					</div>
					<div class="col-md-4 text-center animate-box">
						<div class="services">
							<span class="icon">
								<i class="fas {{page.service-box-2-fa}}"></i>	
							</span>
							<div class="desc">
								<h3>{{ page.service-box-2-header }}</h3>
								<p>{{ page.service-box-2-content }}</p>
							</div>
						</div>
					</div>
					<div class="col-md-4 text-center animate-box">
						<div class="services">
							<span class="icon">
								<i class="fas {{page.service-box-3-fa}}"></i>
							</span>
							<div class="desc">
								<h3>{{ page.service-box-3-header }}</h3>
								<p>{{ page.service-box-3-content }}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>